html,
        body {
          padding: 0px;
          margin: 0px;
        }
        /* .nav-container {
          width: 100%;
          height: 50px;
          background-color: black;
        } */
        .content-container {
          box-sizing: border-box;
          width: 100%;
          height: calc(100vh - 50px);
          padding: 20px;
          background-color: gray;
          display: flex;
          flex-direction: row;
        }
        .sidebar {
          width: 15%;
          height: 70%;
          background-color: black;
          border-radius: 10px;
        }
   
        .contant-area {
          width: 100%;
          padding: 10px;
        }
   
        .search-area {
          margin: 0 0 20px 0;
        }
   
        .search-input {
          width: 100%;
          background: black;
          height: 40px;
          outline: none;
          border-radius: 10px;
          color: #ffffff;
          font-size: 1rem;
        }
        .results {
          display: flex;
          justify-content: space-between;
          margin: 30px 30px 30px 30px;
        }
        .square {
          width: 30%;
          height: 100px;
          background: black;
          border-radius: 10px;
        }
   
        .component {
          width: 100%;
          height: 33%;
          background: black;
          border-radius: 10px;
        }
        .checked {
          color: orange;
        }

        .search-input1 {
          width: 100%;
          background: black;
          height: 60px;
          outline: none;
          /* border-radius: 10px; */
          color: #ffffff;
          font-size: 1rem;
          display: flex;
          justify-content: center;
        }